<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         <a class="navbar-brand" href="#">Editing <%= @user.fname %>'s Profile</a>
      </a>
    </div>
  </div>
</nav><div class="container">
	<h1>Editing Profile</h1>

<%= render 'form' %>

<%= link_to 'Show', user_profile_path, style: 'margin-left: 45%', class: 'btn btn-default' %> |
<%= link_to 'Back', user_profiles_path, class: 'btn btn-default'  %>
</div>