<div class="container">
	<h1>Editing Profile</h1>

<%= render 'form' %>

<%= link_to 'Show', user_profile_path, style: 'margin-left: 45%', class: 'btn btn-default' %> |
<%= link_to 'Back', user_profiles_path, class: 'btn btn-default'  %>
</div>