<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         <a class="navbar-brand" href="#">Add New User</a>
      </a>
    </div>
  </div>
</nav><div class="container">

<%= render 'form' %>

<%= link_to 'Back', users_path, style: 'margin-left: 45%', class: 'btn btn-default' %>
</div>
