<div class="container">
	<h1>Editing Pic</h1>

<%= render 'form' %>

<%= link_to 'Show', user_pic_path, style: 'margin-left: 45%', class: 'btn btn-default' %> |
<%= link_to 'Back', user_pics_path, class: 'btn btn-default'  %>
</div>