<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fname%> <%= @user.lname %></h1>
    <p>
      You have been added to the list of users
    </p>
  </body>
</html>
